#form {
    background-color: #ecf7fc;
    width: 300px;
    padding: 20px;
    border: 3px  #3b3b3b solid;
    font-family: Arial, Helvetica, sans-serif;
    color:#3b3b3b ;
    font-size: 11pt;
    font-weight: bold;

}
.title{
    margin-bottom: 5px;

}
.input{
    padding-bottom: 15px;
  
}
.inputbox{
    width: 100%;
    border: solid 1px #adb9c1;
    height: 30px;
    box-shadow:inset 0 0 5px 5px #d4edff ;
  
}
.buttonsubmit {
    text-align: center;
    padding: 10px;
    width: 50%;
    box-shadow:inset 0px 0px 10px 15px #d4edff ;
    background-color : #FFFFFF;
    background:linear-gradient(to bottom, #FFFFFF 5%, #d4edff 100%);
	border-radius:50px;
	border:3px solid #adb9c1;
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
    color:#3b3b3b ;
    font-size: 11pt;
    font-weight: bold;
    box-shadow: 0px 0px 0px 4px  #d4edff;
    
    
	 
}
.buttonsubmit:hover {
    background:linear-gradient(to bottom, #adb9c1 5%, #d4edff 100%);
	background-color:#d4edff;

}
.submitfield {
    text-align: center;
}


