form {
    margin: 2em auto;
}

#error-message {
    visibility: hidden;
    text-align: center;
}

/* Width based on screen size*/
form {
    width: 90%;
}

@media only screen and (min-width: 500px) {
    form {
        width: 400px !important;
    }
}

.form-group {
    position: relative;
}

#required::after {
    content: '*';
    color: red;
    position: absolute;
    left: 102%;
    top: 50%;
    font-size: 1.5rem;
}