<head>
    <title> Registration Form </title>
    <link rel="stylesheet" href="week-3.css">
    <script src="week-3.js" defer></script>
</head>
<body>
<form name="myForm" onsubmit="validateForm()">
    <h1> Registration form</h1>
        <p> Please fill this form before continuing the next step </p>
        <div>
            <label for= "Name"> Name</label>
            <input id= "Name" type="text" required>
        </div>
        <div>
            <label for= "Address"> Address </label>
            <input type="text" name="address" id="Address" required>
        </div>
        <div>
            <label for="Email">Email </label>
            <input type="email" name="email" placeholder="Enter a valid email address" required>
        </div>
        <div>
            <label for= "Password"> Password</label>
            <input type="password" required>
        </div>
        <div>
            <label for="country-code" > Phone number </label> 
            <input type="tel" id="country-code" pattern="[+]{1}\d{2}" placeholder="+**" required>
            <input type="tel" id="phone" pattern="\d{7}" placeholder="phone number" required>
        </div>
        <div>
            <label for= "birthdate" > Birthdate </label>
            <input type="date" name="birthdate" id="birthdate" required>
            
        </div>
        <!-- pattern="[0-31]{2}/ [0-12]{2}/ [1971-2008]{4}" -->
        <button type="submit"> Submit </button>
        
</form>
</body>
