body {
    background-color: aliceblue;
}

div {
    align-content: center;
    width: 300px;
    /* border-width: 10px;
    border-style: solid;
    border-color: black; */
    padding: 20px;
    margin: 20px;
  }


.center {
    padding: 70px 0;
    border: 3px solid black;
    text-align: center;
    margin: auto;
}
form {
    width: 450px;
    display: block;
    margin: 30px auto 30px auto;
    border: 1px double red;
    padding: 20px;
}

label {
    font-weight: bold;
}

